[Desktop Entry]
Type=Application
Name=ZipFX
Comment=Multi-format archive manager
Exec=ZipFX %f
Icon=zipfx
Terminal=false
Categories=Archiving;Utility;
MimeType=application/zip;application/x-7z-compressed;application/x-rar;application/x-tar;application/gzip;application/x-bzip2;application/x-xz;application/x-iso9660-image;application/vnd.ms-cab-compressed;application/x-lzh;application/x-xar;application/x-archive;application/x-cpio;application/x-squashfs;application/x-rpm;application/vnd.debian.binary-package;application/x-wad;application/x-pak;application/x-grp;application/x-hog;application/x-vpk;application/x-mpq;application/x-adf;application/x-vhd;application/x-vmdk;application/x-qcow2;application/x-nrg;application/x-raw-disk-image;
