# Build directories
cmake-build-*/
build/

# IDE
.idea/
*.user
*.swp

# OS
.DS_Store
Thumbs.db

# Dependencies fetched by CMake
_deps/

test_build/

deploy/build_win/

deploy/*.zip
deploy/*.exe
deploy/*.dmg

deploy/test_install/
deploy/build_mac/
deploy/ZipFX-macOS.dmg
